@media (max-width: 720px){
    body{
        font-size: 40px;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 10px;
    }

    .menu{
        margin: 0;
        flex-direction: column;
        margin-top: 50px;
    }

    .logo h1{
        font-size: 40px;
    }

    .menu li{
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .menu li a{
        padding: 17px 40px;
        margin-left: 0;
    }

    .menu li a.botao{
        padding: 15px 22px;
        margin: 0;
        font-size: 18px;
    }
}
